<div>
  <nav class="navbar  navbar-fixed-top" style="opacity: 1; border-bottom: 3px groove white; background-color: #1a1a1a;">
		<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"  >
				<span class="icon-bar whitebk" ></span>
				<span class="icon-bar whitebk"></span>
				<span class="icon-bar whitebk"></span>
			</button>
			<a class="navbar-brand" href="pages/homePage.html" style="font-family: impact; font-size: 40px;"><img src="img/TransluxLogo.png" alt="Chania" style="margin-left: -12px; margin-bottom:-20px; margin-top:-25px; width:75%; height:auto; display:inline;"></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="navHeadings"><a href="pages/bookings.html" class="navHeadColour"><i class='fa fa-user'></i> &nbsp; Bookings &nbsp;</a></li>
				<li class="navHeadings"><a href="pages/routesAndTimetables.html" class="navHeadColour"> <i class='fa fa-globe'></i> &nbsp; Routes and timetables &nbsp;</a></li>
        <li class="navHeadings"><a href="pages/customerCare.html" class="navHeadColour"> <i class='fa fa-globe'></i>&nbsp; Customer Care &nbsp;</a></li>
        <li class="navHeadings"><a href="pages/promotions.html" class="navHeadColour"> <i class='fa fa-globe'></i>&nbsp; Promotions &nbsp;</a></li>
        <li class="navHeadings"><a href="pages/travelInfo.html" class="navHeadColour"> <i class='fa fa-globe'></i>&nbsp; Travel Info</a></li>
			</ul>
		</div>
	</div>
  </nav>
</div>
<br />
<br />
<br />

<div>
  <h1>{{pageName}}</h1>

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <label>Select Departure Location</label>
    </div>
    <div class="col-sm-8">
      <oi-select style="text-align:left" oi-options="x.name for x in departurePoints" ng-model="departurePoint" placeholder="Click to select" ng-change="setDestinationPoints()">
      </oi-select>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

  <div class="row" ng-show="departurePoint">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <label>Select Destination Location</label>
    </div>
    <div class="col-sm-8">
      <oi-select style="text-align:left" oi-options="x.name for x in destinationPoints" ng-model="destinationPoint" placeholder="Click to select" ng-change="getDates()">
      </oi-select>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

  <div class="row" ng-show="destinationPoint">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <label>Select Time From Available</label>
    </div>
    <div class="col-sm-8">
      <div ng-repeat="x in calendar">

        <div ng-click="check(1, x.year.value, x.year.month)">
          {{x.year.value}}
        </div>
          <div ng-repeat="y in x.year.month">

            <div ng-show="y.checked">
              <div style="padding-left:20px" ng-click="check(2, y.name + ' ' + y.value, y.day)">
                {{y.name}}
                {{y.value}}
              </div>

                <div ng-repeat="z in y.day">

                  <div ng-show="z.checked">
                    <div style="padding-left:40px"  ng-click="check(3, z.name + ' ' + z.value, z.time)">
                      {{z.name}}
                      {{z.value}}
                    </div>
                    <div ng-repeat="d in z.time">

                      <div ng-show="d.checked">
                        <div style="padding-left:60px"  ng-click="setTime(d.value)">
                          {{d.value}}
                        </div>
                      </div>

                    </div>

                  </div>


                </div>



            </div>

          </div>

      </div>
    </div>
    <div class="col-sm-1">
    </div>

  </div>


  <center>
    <div class="row" ng-show="time" style="background-color:wheat; width:80%">
      <div class="col-sm-1">
      </div>
      <!-- <div class="col-sm-2">
        <label>Your Selections Are</label>
      </div> -->
      <div class="col-sm-10">
        <center>
          <h3>Your Selections Are</h3>

          {{departurePoint.name}}
          {{destinationPoint.name}}
          {{myYear}}
          {{myMonth}}
          {{myDay}}
          {{time}}
          <br /><button>Make Booking</button>
        </center>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </center>


</div>
