<div ng-include="url.templateUrl" style="display:inline;"></div>
<br/>
<br/>
<br/>


<div>

<div>
  <center>
    <h1 style="color:black">Bookings</h1>
  </center>
  <br/>


  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <label>Select Departure Location</label>
    </div>
    <div class="col-sm-8">
      <oi-select style="text-align:left" oi-options="x.name for x in departurePoints" ng-model="departurePoint" placeholder="Click to select" ng-change="setDestinationPoints()">
      </oi-select>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

  <div class="row" ng-show="departurePoint">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <label>Select Destination Location</label>
    </div>
    <div class="col-sm-8">
      <oi-select style="text-align:left" oi-options="x.name for x in destinationPoints" ng-model="destinationPoint" placeholder="Click to select" ng-change="getDates()">
      </oi-select>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

  <div class="row" ng-show="destinationPoint">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <label>Select Time From Available</label>
    </div>
    <div class="col-sm-8">
      <div ng-repeat="x in calendar" style="background:">

        <div ng-click="check(1, x.year.value, x.year.month)">
          {{x.year.value}}
        </div>
          <div ng-repeat="y in x.year.month">

            <div ng-show="y.checked">
              <div style="padding-left:20px" ng-click="check(2, y.name, y.day)">
                {{y.name}}
                {{y.value}}
              </div>

                <div ng-repeat="z in y.day">

                  <div ng-show="z.checked">
                    <div style="padding-left:40px"  ng-click="check(3, z.name + ' ' + z.value, z.time)">
                      {{z.name}}
                      {{z.value}}
                    </div>
                    <div ng-repeat="d in z.time">

                      <div ng-show="d.checked">
                        <div style="padding-left:60px"  ng-click="setTime(d.value)">
                          {{d.value}}
                        </div>
                      </div>

                    </div>

                  </div>

                </div>

            </div>

          </div>

      </div>
    </div>
    <div class="col-sm-1">
    </div>

  </div>


  <center>
    <div class="row" ng-show="time" style="background-color:wheat; width:80%; box-shadow: 5px 5px 3px #888888;">
      <div class="col-sm-1">
      </div>
      <!-- <div class="col-sm-2">
        <label>Your Selections Are</label>
      </div> -->
      <div class="col-sm-10">
        <center>
          <h3>Your Selections Are</h3>
          Departure: {{departurePoint.name}} <br />
          Destination: {{destinationPoint.name}} <br />
          Date And Time: {{time}}, {{myDay}}, {{myMonth}}, {{myYear}} <br />
          <br /><button class="w3-btn w3-red">Make Booking</button>
          <br />
          <br />
        </center>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </center>


</div>
