  <div ng-controller="navCtrl">

  <nav class="navbar  navbar-fixed-top" style="opacity: 1; border-bottom: 3px groove white; background-color: #1a1a1a;">
		<div class="container-fluid">
		<div class="navbar-header" ng-click="navigate(6)">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"  >
				<span class="icon-bar whitebk" ></span>
				<span class="icon-bar whitebk"></span>
				<span class="icon-bar whitebk"></span>
			</button>
			<a class="navbar-brand"  style="font-family: impact; font-size: 40px;"><img src="img/TransluxLogo.png" alt="Chania" style="margin-left: -12px; margin-bottom:-20px; margin-top:-25px; width:75%; height:auto; display:inline;"></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
						<li class="navHeadings" ng-click="navigate(1)"><a class="navHeadColour"><i class="fa fa-book" aria-hidden="true"></i> &nbsp; Bookings &nbsp;</a></li>
						<li class="navHeadings" ng-click="navigate(2)" ><a class="navHeadColour"> <i class="fa fa-location-arrow" aria-hidden="true"></i> &nbsp; Routes and timetables &nbsp;</a></li>
		                <li class="navHeadings" ng-click="navigate(3)" ><a class="navHeadColour"> <i class="fa fa-phone" aria-hidden="true"></i>&nbsp; Customer Care &nbsp;</a></li>
		                <li class="navHeadings" ng-click="navigate(4)"><a  class="navHeadColour"> <i class="fa fa-percent" aria-hidden="true"></i>&nbsp; Promotions &nbsp;</a></li>
		                <li class="navHeadings" ng-click="navigate(5)"><a  class="navHeadColour"> <i class='fa fa-globe'></i>&nbsp; Travel Info</a></li>
			</ul>
		</div>
	</div>
  </nav>

  </div>
