<div ng-include="url.templateUrl" style="display:inline;"></div>
<br/>
<br/>
<br/>
<div class="w3-display-container">
<div class="row" style="padding-right: 20px; padding-left: 20px">

	<div class="col-lg-6">
	  		<leaflet center="SouthAfrica" event-broadcast="events"  paths="paths" markers="markers" maxbounds="maxbounds" defaults="defaults" height="500px"></leaflet>
	</div>
	<div  class="col-lg-6">

	<div class="w3-display-container w3-red" style="height: 80px">
	<div class="w3-display-middle">
		Select your desired route by clicking on the green path on the map or manualy selecting your destination points.
	 </div>
	</div>

		       <div class="inputArea">
	                        <label>Destination A</label>
	                        <oi-select class="inputs" style="text-align:left" oi-options="x.name for x in departurePoints" ng-model="pointA" placeholder="Click to select point A">
	                        </oi-select>                        
	             </div>
	             <div class="inputArea">
	                        <label>Destination B</label>
	                        <oi-select class="inputs" style="text-align:left" oi-options="x.name for x in departurePoints" ng-model="pointB" placeholder="Click to select point B">
	                        </oi-select>                        
	             </div>


 <br/>
 <button class="w3-btn w3-red" ng-disabled="!pointA || !pointB" ng-click="book()">Book</button>
	</div>
</div>

</div>